*{
    margin: 0px;
    padding: 0px;
    font-family: BookCondensed; 
}

section{
    margin-bottom: 10px;
}

@font-face {
    font-family:BookCondensed ;
    src: url(../Fonte/Garamond-Font/Garamond\ BookCondensed.ttf);
} 

/*Tamanho padrao das sessoes*/

.global-width-sessoes{
    max-width: 1180px;
    margin: 0px auto;
    padding: 10px 20px;
}

/* Configuracao do HEADER */

#global-header{
    width: 100%;
    position: fixed !important;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px 1px rgb(0, 0, 0);
}

.global-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0.5px;
    width: 100vw;
    max-height: 65px;
    box-sizing: border-box;
}

.global-logo img {
    max-width: 200px;
    height: 65px;
    box-sizing: border-box;
}

.logo-topo {
    width: 100%;
}

.global-menu-opcoes{
    height: 65px;
    display: flex;
}

.global-btn-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 0px 5px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}


/*Animacoes dos botoes  - HEADER*/

.global-btn-menu:hover{
    background-color: #f0f0f0dc;
    color: #000000;
}


/* Conficguracao do BANNER */

.img-banner{
    width: 100%;
}

/*Configuracao da galeria*/

.galeria{
    /* width: 100%; */
    display: flex;
    overflow-x: scroll;
}

.img-galeria  {
    position: relative;
    width: 350px;
    height:110px;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 5px;
}

.img-galeria img{
    /* width: 100%;
    height: 100%; */
    border-radius: 10px;
} 

.tag{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #00000052;
    box-shadow: 0px 5px 15px 2px #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    
} 

/*Configuracao dos botoes de selecao dos personagens*/

.btn-personagens{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.btn-personagens-descricao{
    width: 100px;
    height: 100px;
    position: relative;
    box-sizing: border-box;
    margin:0px 10px;
}

.btn-personagens-descricao img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: auto;
    opacity: 50%;
}

.btn-personagens-descricao img:hover {
    opacity:100%;
    transition: 1000ms;
    box-shadow: 0px 0px 20px 3px #e6e6e6;

}
/*Configuracao da descricao dos personagens*/

.personagens{
    display: flex;
    width: 100vw;
    box-sizing: border-box;
}

.personagens-descricao{
    position: relative;
}

.personagens-esquerda{
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 5px 5px 15px 10px;
}

.personagens-bio p{
    padding: 15px 5px 15px 15px;
}

.padrao{
    padding: 15px 0px;
    
}

.circle{
    background-color: #000000;
    position: absolute;
    left: -8px;
    top:  117px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

.circle2{
    background-color: #000000;
    position: absolute;
    left: -8px;
    top:  325px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

.circle3{
    background-color: #000000;
    position: absolute;
    left: -8px;
    top:  585px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

.padrao h3{
    line-height: 45px;
}
.personagens-descricao{
    padding: 15px 5px 15px 15px;
    max-width: 300px;
    border-left: 3px solid rgb(0, 0, 0);
}

.personagens-descricao p{
    padding: 3px;
}

.personagens-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 40vw;
    align-items: center;
    /* border: 1px solid blue; */
}

.personagens-img{
    position: relative;
    border: 3px solid;
}

.square{
    width: 100%;
    height: 100%;
    border: 3px solid ;
    position: absolute;
    top: -10px;
    right: -10px;
}

.personagens-direita img{
    width: 100%;
}


/*configuracao das caracteriscas dos personagens*/


.tb-descricao-esquerda{
    text-align: center;
    text-decoration: underline;
    line-height: 40px;
    
}

.tb-descricao-esquerda h3{
    color: #838383;
    
}
.table-caracteristicas{
    max-width: 300px;
}


.table-caracteristicas h4{
    font-size: 20px;
    text-align: center;
}

.table-caracteristicas h5{
    text-align: center;
    color: #838383;
    line-height: 20px;
}















/*Configuracao da area de streamer*/

.streamers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.img-streamers{
    width: 300px;
    height: 220px;
    margin: 5px 10px;
    box-sizing: border-box;
}

.img-streamers img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 50%;
}

.img-streamers img:hover{
    opacity: 100%;
}

/*Aparatos futuristas*/

.aparatos-futuristas{
    border: 1px solid;
}


/*Area de cadastro*/

.cadastro-email{
    
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.caixa-input{
    width: 100vw;
    height: 130px;
    padding: 20px;
    border: 1px solid;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    background-color: #000000b2;
    color: white;
}

.caixa-input h1{
    font-size: 2vw ;
    margin-bottom: 15px;
}

.caixa-input label{
    font-size: 2vw ;
}

.caixa-input input{
    width: 655px;
    height: 25px;
    border-radius: 25px;
    border: none;
    box-shadow: none;
    outline: none;
}

.caixa-input  button{
    width: 150px;
    height: 25px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #FAC407;
    color: #e6e6e6;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
}


/*Rodape*/

footer{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px 1px rgb(0, 0, 0);

}
.global-rodape{
    display: flex;
    align-items: center;
    justify-content: center;

}